body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark-mode {
  background-color: #1d1c1c;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark-mode h1{
  color: rgb(233, 223, 223);
}

body.dark-mode input{
  background-color: rgb(82, 82, 82);
  border: 1px solid #8f8383;
  color: white;
}

body.dark-mode input::placeholder{
  color: rgb(233, 223, 223);
}

body.dark-mode .auth-details{
  color: rgb(233, 223, 223);
}

body.dark-mode .taskName{
  color: white;
}

input {
  max-width: 200px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  text-align: center;
}

button {
  background-color: #0069d9;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0053a6;
}

.list{
  margin-left: 500px;
  margin-top: 40px;
}

.elements{
  padding-top: 10px;
}

.desc{
  width: 50%;
  height: 30%;
}

.title, .main, .sign-up-container, .sign-in-container, .auth-details{
  text-align: center;
}

.sign-up-container{
  padding-top: 12%;
}

.sign-out-button{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
}

.google-button{
  display: block;
  margin: auto;
  margin-top: 20px;
}

.light-mode-icon{
  color: white;
  cursor: pointer;
}

.dark-mode-icon{
  cursor: pointer;
}

.toggle-theme{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
}